{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class='row' style="margin-top:30px;">
	<div class='col-sm-12' align='center'>
		<h1> About</h1>
	</div>	
</div>	
<div class='row' align='center'>
	<div class="col">
    </div>
	<div class='col-sm-6' >
		<p class='lead' align="center"> Oceantober is a nonprofit dedicated to providing cleaner oceans and building community through beach clean ups and the "Oceantober Challenge" where participants jump in the ocean for all 31 days of October.
		</p>
		<p class='lead' align="center"> In the future we plan on hosting beach cleanups throughout the month of October all along the entire coast of California. We want to spread the joy of Oceantober and encourage people get out in nature as well as support and respect it.
		</p>
	</div>
	<div class="col">
    </div>
</div>

<div class='row' align='center' style="margin-top:30px;">
	<div class='col-sm-12'>
		<h1> Founders </h1>
	</div>	
</div>	



<div class="row" style="margin-top:30px;">
	<div class="col-12 col-lg-1">
    </div>
	<div class='col-xs-12 col-sm-12 col-md-12 col-lg-4' align="center">
			<img src='{% static "img/emily.jpg" %}' style='max-width:300px;max-height:300px;'/>
			<p class='lead'> Emily Repech <p>
			<p class='lead'> oceantoberca@gmail.com <p>	
	</div>
	<div class="col-lg-2">
	</div>
	<div class='col-xs-12 col-sm-12 col-md-12 col-lg-4' align="center">
			<img src='{% static "img/isaac.jpg" %}' style='max-width:300px;max-height:300px;'/>
			<p class='lead'> Isaac Mancini <p>
			<p class='lead'> imancini@ucsc.edu <p>	
	</div>
	<div class="col-12 col-lg-1">
    </div> 	
</div>

<div class='row' align='center' style="margin-top:30px;">
	<div class='col-sm-12'>
		<h1> Creators </h1>
	</div>	
</div>	

<div class='col-xs-12 col-sm-12 col-md-12 col-lg-2.4' align="center">
			<p class='lead'> Emily Repech <p>
</div>
<div class='col-xs-12 col-sm-12 col-md-12 col-lg-2.4' align="center">
			<p class='lead'> Avalon Daly <p>
</div>
<div class='col-xs-12 col-sm-12 col-md-12 col-lg-2.4' align="center">
			<p class='lead'> Annalise Constantz <p>
</div>
<div class='col-xs-12 col-sm-12 col-md-12 col-lg-2.4' align="center">
			<p class='lead'> Lauren Betts <p>
</div>
<div class='col-xs-12 col-sm-12 col-md-12 col-lg-2.4' align="center">
			<p class='lead'> Anneke Levine <p>
</div>
{% endblock %}