{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class='row' style="margin-top:30px;">
	<div class='col-sm-12' align='center'>
		<h1> Blog</h1>
	</div>	
</div>
</br>

<div class='row' align='center'>
	<div class="col">
    </div>
	<div class='col-sm-6' >
		<p class='lead' style='font-weight:bold;'>November 17th, 2017</p>
		<p class='lead' align="center"> Our first blog post. It's still not October yet.
		</p>
	</div>
	<div class="col">
    </div>
</div>



{% endblock %}